# Backend
/blog-back-end/var/
/blog-back-end/vendor/
/blog-back-end/.env.local
/blog-back-end/.env.*.local
/blog-back-end/.phpunit.result.cache

# Frontend
/blog-front-end/node_modules/
/blog-front-end/dist/
/blog-front-end/.env
/blog-front-end/.env.*

# Docker artifacts
/.DS_Store
**/.DS_Store
*.log
